html, body {
	background-color: #333 !important;
	color: #fff !important;
}
.card-body {
	background-color: transparent !important;
}
textarea {
	background-color: transparent !important;
	color: #fff !important;
}
.grade-item {
	background: rgba(51,51,51,0.8) !important;
}
kbd {
	/*background-color: #fff !important;*/
	/*color: #000 !important;*/
}
.modal-content {
	background-color: #000 !important;
}
.popover {
	color: #000;
}
