* {
	text-align: center;
}
html {
	scroll-behavior: smooth;
}
body {
	background: #fff url("../img/teacher-light.svg") no-repeat fixed center;
	padding: 1rem;
}
/* inputs */
input {
	border: 2px solid #ccc !important;
}
.score, .total, .weight {
	width: 6rem;
	display: inline;
}
.name {
	width: 12rem;
	display: inline;	
}
#student-name {
	width: 16rem;
}

/* grade divs */
#grade-items {
	font-weight: bold;
}
.grade-item {
	border: 2px solid #ccc;
	border-radius: 0.5rem;
	box-shadow: 1px 1px 0px #999;
	position: relative;
	margin-bottom: 0.5rem;
	padding-bottom: 0.5rem;
	background-color: rgba(255,255,255,0.8);
}
.breakP {
	color: #393 !important;
	font-size: 250%;
}
.delete-btn {
	background-color: transparent;
	border: 2px solid #ccc;
	border-radius: 0.5rem;
	color: #933;

}
.delete-btn:not(.close) {
	position: absolute;
	top: -2px;
	right: -2px;	
}
.delete-btn.close {
	opacity: 1;
	text-shadow: none !important;
	border-radius: 0.4rem; /*hotfix for modals*/
}
.delete-btn:hover {
	background-color: #933;
	color: #fff;
}
.delete-btn:not(.close):focus {
	border-color: #933 !important;
	box-shadow: 2px 2px 2px #933 !important;
}

.modal-content {
	border-radius: 0.5rem;
}

#grade-result-div {
	background-color: rgba(255,255,255,0.8);
	border: 2px solid #ccc;
	margin: 0.5rem;
	padding: 0.5rem;
}

input, #grade-text {
	display: inline-block;
}
h1 {
	font-weight: lighter;
	display: inline;
}
a {
	color: #6c6 !important;
}
#logo {
	width: 64px;
}
#download-link {
	text-decoration: none;
}
#download-console-btn {
	width: 100%;
}

::selection {
	background-color: #ccc;
} ::-moz-selection {
	background-color: #ccc;
}
img, button {
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;	
}

textarea:focus, button:not(.close):focus, input:focus {
	border-color: #6c6 !important;
	box-shadow: 2px 2px 2px #6c6 !important;
}

.popover-body {
	display: none;
}

@media screen and (max-width: 768px) {
	body {
		background: #fff;
	}
	.grade-label {
		display: block;
	}
	.breakP {
		display: none !important;
	}
}
